@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


body{
    background-image: url("/src/images/memphis.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

 
font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
}