.hero {
  width: 100vw;
  height: 90vh;
}

.hero {
  .row {
    height: 100%;
  }

  &__text {
    color: #f1f1f9;
    h1 {
      font-weight: 550;
      font-size: 3.7rem;
      h5 {
        color: rgba(255, 255, 255, 0.534);
        text-transform: lowercase;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .emoji {
        opacity: 1;
        color: white;
        font-size: 1.6rem;
      }
    }
    p {
      max-width: 28rem;
      font-weight: 550;
      padding: 0 5px;
      text-transform: capitalize;
      .p_tag {
        font-size: 1rem;
        margin: 0 1rem;
        color: #883df8;
        font-weight: inherit;
      }
    }
  }

  &__img {
    position: relative;
    svg {
      width: 100%;
      height: 100%;
      position: relative;
    }

    img {
      height: 4rem;
       z-index: 3; 
      position: absolute;
      background-color:#000000;
      padding: 1rem;
      border-radius: 15px;
      box-shadow: 5px 5px 20px 1px rgba(2, 2, 2, 0.623);
      animation: pulse 2s infinite linear;
      transition: all 2s;
    }

    .fb {
        top: 3rem;
        left: 14rem;
      }

      .react {
        top: 13rem;
        right: 5rem;
      }

      .js {
        top: 12rem;
        bottom: 0px;
      }

      .redux {
        bottom: 3rem;
        left: 8rem;
      }
      @keyframes pulse {
        0% {
         transform: scale(.5);
        }
        70% {
          transform: scale(1.1) ;

        }
        100% {
            
            transform: scale(.5) ;
        }
      }
  }
}

@media screen and (max-width: 767px){
    .redux {
        top: 3rem;
        left: 1rem !important;
      }
}