.nav{
    color: white;
    padding: 1.3rem 1.3rem !important;
    font-weight: 550;
    font-size: 1.1rem;
    text-transform: capitalize;
    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: black;
        }
    }
}

.nav{

    &__brand{

    }

    &__options{
  backface-visibility: hidden;
        ul{
           margin: 0;
            li{
                    margin: 0 1rem;
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                    min-width: 2rem;
                    backface-visibility: hidden;
                    &:hover{
                        background-color: #F1F1F9;
                      
                    }
                
            }
        }
    }

    &__contact{
        &__btn{
            padding: .5rem 1rem;
            border-radius: .5rem;
            background-color: #7B2FEA;
          
        }
    }
}

.active{
    background-color: #F1F1F9;
    color: black !important;
    padding: .5rem 1rem;
    border-radius: .5rem;
}