// .nav{
//     color: white;
//     padding: 1.3rem 1.3rem !important;
//     font-weight: 550;
//     font-size: 1.1rem;
//     text-transform: capitalize;
//     a{
//         text-decoration: none;
//         color: white;
      
//     }
// }

// .nav{

//     &__brand{
//         font-size: 1.5rem;
//         font-weight: 600;
//     }

// //     &__options{
// //   backface-visibility: hidden;
// //         ul{
// //            margin: 0;
// //             li{
// //                     margin: 0 1rem;
// //                     padding: .5rem 1rem;
// //                     border-radius: .5rem;
// //                     min-width: 2rem;
// //                     backface-visibility: hidden;
// //                     &:hover{
// //                         background-color: #F1F1F9;
                      
// //                     }
                
// //             }
// //         }
// //     }

// &__contact{
//     &__btn{
//             padding: .5rem 1rem;
//             border-radius: .5rem;
//             background-color: #7B2FEA;
          
//         }
//     }
// }

// .active{
//     background-color: #2d2d2e;
//     padding: .5rem 1rem;
//     border-radius: .5rem;
// }

// // X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// // X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }


/******************************************/



.btn__contact{
  color: white;
    background-color: blueviolet;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 17px;
    text-transform: capitalize;
    &:hover{
      color: white;
    }
}

/* navbar regular css start */
.navbar-area {
  background: rgba(0,0,0,.6);
  font-family: 'Poppins', sans-serif;
  border: none;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  font-weight: 600;
 
  text-decoration: none;
  text-transform: capitalize;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
 outline: none;
 border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* mobile breakpoint start */
@media screen and (max-width: 767px) {

.btn__contact{
  display: none;
}
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
    
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.911);
    font-size: 2.5rem;
    font-weight: 550;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
    
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */