@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: url("/src/images/memphis.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  font-family: 'Poppins', sans-serif;
}

.hero {
  width: 100vw;
  height: 90vh;
}

.hero .row {
  height: 100%;
}

.hero__text {
  color: #f1f1f9;
}

.hero__text h1 {
  font-weight: 550;
  font-size: 3.7rem;
}

.hero__text h1 h5 {
  color: rgba(255, 255, 255, 0.534);
  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: 400;
}

.hero__text h1 .emoji {
  opacity: 1;
  color: white;
  font-size: 1.6rem;
}

.hero__text p {
  max-width: 28rem;
  font-weight: 550;
  padding: 0 5px;
  text-transform: capitalize;
}

.hero__text p .p_tag {
  font-size: 1rem;
  margin: 0 1rem;
  color: #883df8;
  font-weight: inherit;
}

.hero__img {
  position: relative;
}

.hero__img svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__img img {
  height: 4rem;
  z-index: 3;
  position: absolute;
  background-color: #000000;
  padding: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 20px 1px rgba(2, 2, 2, 0.623);
          box-shadow: 5px 5px 20px 1px rgba(2, 2, 2, 0.623);
  -webkit-animation: pulse 2s infinite linear;
          animation: pulse 2s infinite linear;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hero__img .fb {
  top: 3rem;
  left: 14rem;
}

.hero__img .react {
  top: 13rem;
  right: 5rem;
}

.hero__img .js {
  top: 12rem;
  bottom: 0px;
}

.hero__img .redux {
  bottom: 3rem;
  left: 8rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width: 767px) {
  .redux {
    top: 3rem;
    left: 1rem !important;
  }
}

/******************************************/
.btn__contact {
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 17px;
  text-transform: capitalize;
}

.btn__contact:hover {
  color: white;
}

/* navbar regular css start */
.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Poppins', sans-serif;
  border: none;
}

.site-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* navbar regular css end */
/* nav-toggler css start */
.nav-toggler {
  outline: none;
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-toggler span:before {
  content: '';
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.nav-toggler span:after {
  content: '';
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css start */
/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .menu-one {
    margin-top: 19px !important;
  }
  .btn__contact {
    display: none;
  }
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 55px);
    left: 0;
    top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.911);
    font-size: 2.4rem;
    font-weight: 550;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
    margin-top: .8rem;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  /* navbar css for mobile end */
}

/* mobile breakpoint end */
.heading {
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  opacity: .7 !important;
  color: rgba(255, 255, 255, 0.795);
}

.heading span {
  font-size: 3rem;
}

.social {
  position: fixed;
  top: 35%;
}

.flex-center {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center i {
  font-size: 1.8rem;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: white;
}

.icon-3d:hover {
  -webkit-animation: icon3d 300ms infinite;
  animation: icon3d 300ms infinite;
}

@-webkit-keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}
/*# sourceMappingURL=main.css.map */